# === Node / React ===
node_modules/
npm-debug.log*
.env.local
.env.*
.next/



# === Python ===
__pycache__/
*.py[cod]
*.pyd
*.pyo
.env/               # pyenv/virtualenv
backend/data/

# === OS / Editor ===
.DS_Store
.idea/
.vscode/

# === Build & coverage ===
dist/
build/
coverage/
*.coverage
backend/duckdb/
backend/.venv/
*.duckdb
*.db
*.sqlite

# === Secrets & keys ===
*.pem
*.pfx
*.key

